*{
    padding: 0px;
    margin: 0px;
    background-color: #F5F8FF;
}

/* Adding Font */
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* Nav Logo */
    
header{
    /* background-color: aqua; */
    background-image: url('../Assets/Hero-bg.png');
    width: 100%;
    height: 80vh;
    opacity: 0.8;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 220px;
}
.logo{
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
}
.btn-Primary{
    /* width: 132px;
    height: 48px; */
    border-radius: 10px;
    color: white;
    border: none;
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    padding: 20px 45px;
}

/* Hero Style */
.Hero-wrapper{
    display: block;
    text-align: center;
    margin: 300px auto;
}
.hero-h{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Action Style */

main{
    padding: 0px 220px;
}

.action{
    display: flex;
    justify-content: space-between;
    text-align: center;
    column-gap: 50%;
    margin: 200px 50px;
}

.action-content{
    display: block;
    text-align: start;
}
.action-h{
    font-size: 42px;
    font-weight: bold;
}
.action-para{
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    margin: 25px 50px 25px 0px;
    text-align: start;

}

.action-image{
    border-radius: 50px;
}

/* Productive Users */
.productive-user{
    display: block;
    width: 1140px;
    height: 350px;
    background-color: aqua;
}
.pu-main-heading{
    font-size: 38px;
}
.pu-bold-content-Wra{
    display: flex;
    justify-content: center;
    gap: 100px;

}
.pu-heading{
    font-size: 80px;
    font-weight: 900;
    color: #4E47FF;
}

.pu-para{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}