*{
    padding: 0px;
    margin: 0px;
    background-color: #F5F8FF;
}

/* Adding Font */
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* Nav Logo */
    
header{
    /* background-color: aqua; */
    background-image: url('../Assets/Hero-bg.png');
    width: 100%;
    height: 80vh;
    opacity: 0.8;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 220px;
}
.logo{
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
}

/* Hover Button */

.btn-Primary {
    border-radius: 10px;
    color: white;
    border: none;
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    padding: 20px 45px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn-Primary:hover {
    background-color: #dc2626;
    border: #8f8cfd solid 2px;
}

.btn-Primary:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(59, 130, 246, 0.5);
}

/* Hero Style */
.Hero-wrapper{
    display: block;
    text-align: center;
    margin: 300px auto;
}
.hero-h{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Action Style */

main{
    padding: 0px 220px;
}

.action{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 200px 50px;
    gap: 50px ;
    padding: 50px;
    align-items: center;
    margin-top: 150px;
}

.action-content{
    display: block;
    text-align: start;
}
.action-h{
    font-size: 42px;
    font-weight: bold;
}
.action-para{
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    margin: 25px 50px 25px 0px;
    text-align: start;

}

.action-image{
    border-radius: 50px;
}

/* Productive Users */

.productive-user{

    background-color: rgba(51, 45, 236, 0.1);
    background-size: cover;
    text-align: center;
    /* width: 1140px;
    height: 500px; */
    margin: 20px;
    padding: 100px;
    border-radius: 24px;
}
.pu-content-Wra{
    display: flex;
    justify-content: space-evenly;
}

.pu-main-heading{
    font-size: 38px;
    font-weight: bold;
    color: black;
}
.pu-heading{
    font-size: 80px;
    font-weight: 600;
    color: #4E47FF;
}

.pu-para{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

/* User style */

.user{
    display: block;
    text-align: center;
    margin-top: 135px;
}
.User-main-Heading{
    font-size: 42px;
    font-weight: bold;
    margin: 150px 0px 50px 0px;
}
.User-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* padding: 50px; */
}
.user-card-wra{
    border: #d1d1d1 solid 2px;
    padding: 24px;
    border-radius: 14px;
    display: block;
    height: auto;
    width: 400px;
    text-align: left;
}
.user-card-h{
    font-size: 24px;
    font-weight: 700;
    margin: 25px 0px 10px 0px;
}
.user-card-para{
    font-size: 18px;
    color: #1E1E1E;
}

.reviewer-wrapper{
    display: flex;
    margin-top: 25px;
}
.user-avater{
    border-radius: 50px;
}
.avater-heading{
    font-size: 16px;
    color: #757575;
    margin-left: 15px;
}

.avater-date{
    font-size: 16px;
    color: #B3B3B3;
    margin-left: 15px;
}

/* Focus Style */

.focus{
    display: block;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 150px;
}
.focus-image-container{
    text-align: center;
    margin-top: 50px;
}
.focus-container{
    display: block;
    align-items: center;
    text-align: center;
}
.focus-heading{
    font-size: 50px;
    font-weight: bold;
    margin: 80px 0px 25px 0px ;
}
.focus-para{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    margin: 20px;
}
.focus-image{
    width: 840px;
    height: 380px;
    border-radius: 50px;
    /* margin: 20px; */
}
.user-btn{
    display:center;
}

/* News Style */

.news-container{
    display: flex;
    margin: 180px 50px;
    align-items: center;
    justify-content: space-evenly;
   
}
.new-from{
    display: block;
}
.news-contents-1{
    font-size: 86px;
}

.from-label{
    font-size: 18px;
    font-weight: 700;
    
}
.from-field{
    width: 100%;
    padding: 20px ;
    margin-bottom: 20px;
    row-gap: 10px;
    border: #757575 solid 1px;
    border-radius: 8px;
}
.new-main-heading{
    font-size: 72px;
}
.btn-news{
    width: 110%;
}


/* Footer */

.footer-container{
    display: block;
    align-items: center;
    text-align: center;
    /* background-color: #E2EAFF; */
    width: 100%;
    height: 500PX;
    /* background-color: #4E47FF; */
    margin-top: 150px;

}

.footer-heading{
    font-size: 100px;
    font-weight: 800;
    color: #4E47FF;

}
.foooter-para{
    font-size: 16px;
    color: #8987A1;
    padding: 0px 700px;
}
.footer-nav{
    display: block;
    color: #8987A1;
    gap: 50px;
    margin-top: 20px;
    
}
.footer-icon{
    /* display: block; */
    justify-content: space-between;
    margin-right: 20px;
    color: #8987A1;
    font-size: 16px;
}